header
	div#title
		span(class='fa fa-road header-icon') 
		span.header-text Road To Hell
	div#player-info
		span(id='name', data-id='#{userid}') 
			a(href='/profile') 
				span#username #{username}
