#userlist {
	background-color: #fff;
	width: 20%;
	height: 300px;
	overflow-y: scroll;
	border-right: 1px solid #555;
	float: left;
}

#userlist ul {
	margin: 0;
}

#userlist .user {
	height: 40px;
	padding: 3px;
	clear: both;
}

#userlist .user:hover {
	background-color: $highlightBlue;
}

#userlist .user .userphoto {
	float: left;
	height: 32px;
	width: 32px;

}

#userlist .user  .faded {
	opacity: .3;
}

#userlist .user .usertext {
	font-size: .9em;
	float: left;
	padding-left: 4px;
	padding-bottom: 0;
	width: 200px;
}

#userlist .user .usertext .user-points {
	padding-left: 6px;
	font-size: .85em;
	color: #18B52D;
	float: left;
	width: 100px;
}

#userlist .user .usertext .username {

	padding-left: 3px;
	float: left;
	width: 100px;
}

#userlist .user .usertext .extra-info {
	float: right;
	width: 60px;
	color: #777;
	text-align: right;
}

#chatbox  {
	background-color: #fff;
	float: right;
	height: 300px;
	width: 80%;
}

#chatbox #messages {
	padding: 3px;	
	height: 271px;
	overflow-y: scroll;
	color: #000;
}

#chatbox .message {
	padding: 3px;
}

#chatbox #messages .player-status {
	font-style: italic;
	color: #444;
}

#chatbox #messages .winner-message {
	color: $darkGreen1;
	font-weight: bold;
}

#chatbox .message .username {
	padding-right: 6px;
	font-weight: bold;
	color: $darkBlue1;
}
#chatbox .message .text {

}

#chatbox #chatbox-entry {
	height: 25px;
	border-top: 1px solid #aaa;
	padding: 3px;
}

#chatbox #chatbox-input, #chatbox #chatbox-submit {
	height: 23px;
}

#chatbox #chatbox-input {
	border: 1px solid #ccc;
	width: 95%;
	float: left;
	padding: 2px;
}



#chatbox #chatbox-submit {
	margin: 0;
	width: 5%;
	float: left;
	font-size: .9em;
}


.server-message {
	font-weight: bold;
	color: #d00;
}

.message-error {
	color: #d00;
	font-style: italic;
}