/* Form styles */

#signup #message {
	width: 400px;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 100px;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 200px;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 10px 0 10px;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */

input#submit {
	margin: 20px 0 0 160px;
}