
.leaderboards-board {
	width: 200px;
	margin: 10px;
	padding: 10px;
	border: 2px solid palette(grey);
	background-color: #fff;
	float: left;
}

.leaderboards-board-title {
	font-weight: bold;
	font-size: 1.3em;
	color: palette(grey, mid-dark);
}


.leaderboards-board-player {
	height: 40px;
	padding-left: 4px;
	clear: both;
}

.leaderboards-board-player .photo {
	float: left;
	height: 32px;
	width: 32px;
}

.leaderboards-board-player .username {
	padding-left: 5px;
	float: left;
	width: 95px;
}

.leaderboards-board-player .points {
	padding-left: 6px;
	color: palette(green, dark);
	float: right;
	width: 40px;
}



/*
#userlist .user .userphoto {
	float: left;
	height: 32px;
	width: 32px;

}

#userlist .user  .faded {
	opacity: .3;
}

#userlist .user .usertext {
	font-size: .9em;
	float: left;
	padding-left: 4px;
	padding-bottom: 0;
	width: 210px;
}

#userlist .user .usertext .user-points {
	padding-left: 6px;
	font-size: .85em;
	color: palette(green, light);
	float: left;
	width: 100px;
}

#userlist .user .usertext .username {

	padding-left: 3px;
	float: left;
	width: 120px;
}*/