body {
	color: #4c4c4c;
	background-color: $backgroundColor1;
	font-family: Verdana, Arial, sans-serif;
}


header {
    font-family: 'Oxygen',Arial, sans-serif;
    font-size: 2em;
	width: 100%;
	top: 0;
	left: 0;
	height: 45px;
	background-color: #EBEBEB;
	
	padding: 2px;
	border-bottom: 3px solid #bbb;
	margin-bottom: 10px;

}

header #title {
	float: left;
}

header #title .header-icon {
	padding-left: 5px;
}

header #title .header-text {
	padding-left: 5px;
}

header #player-info {
	padding-top: 20px;
	padding-right: 5px;
	float: right;
}

header #player-info #name {
	font-size: .5em;
}

footer {
	color: #ddd;
	width:100%;
	height:60px;
	position:absolute;
	padding: 5px;
	text-align: center;
	top: 820px;
	bottom:0;
	left:0;
	border-top: 2px solid #5a5a5a;
	@include background-gradient-black1();
	font-size: .8em;


}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
}

#main {
	margin-top: 10px;
	width: 100%;
	margin-right: auto;
	min-width: 1325px;
}

#cardarea {
	height: 450px;

	margin: 10px;

}

#userarea {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 100%;
}




#signup {
	padding: 10px;
}

#game-header {
	font-family: 'Oxygen',Arial, sans-serif;
	font-size: 3em;
	height: 35px;
	margin-bottom: 10px;
}

#area-left {
	float: left;
	background-color: #fff;
	width: 800px;
	height: 620px;
	padding: 5px;
	@include box1(5px);
}

#area-right {
	width: 550px;
	/*border-left: 1px solid #999; */
	float: left;
	padding: 5px;
}

#message-area, #button-area {
	margin: 4px;
	padding: 3px;

	height: 100px;
}

#message-area {
	border: 1px solid #eee;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: .8em;

}

#button-area {

}

#area-debug {
	clear: both;
	border: 2px solid #faa;
	background-color: #fdd;
	padding: 4px;
	margin: 4px;
	width: 400px;
	height: 200px;
}


#profile-box {
	margin: 10px;
	padding: 10px;
	border: 1px solid #C2BBB4;
	width: 400px;
	background-color: #fff
}



#game-notification {
	top: 0;
	left:40%;
	right: 40%;
	z-index: 1000;
	position: absolute;

	font-family: 'Happy Monkey', Arial, Sans Serif;

	height: 24px;
	width: 250px;

	background-color: #96DEF2;
	color: #133D9E;

	border-left: 2px solid #133D9E; 
	border-right: 2px solid #133D9E; 
	border-bottom: 2px solid #133D9E; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	padding: 0px 6px 5px 6px;
}

#game-notification #server-message {
		position: relative;
		text-align: center;
		font-size: 1.3em;
}