/*  Background Mixins */
body {
  color: #4c4c4c;
  background-color: #d6d3d0;
  font-family: Verdana, Arial, sans-serif; }

header {
  font-family: 'Oxygen',Arial, sans-serif;
  font-size: 2em;
  width: 100%;
  top: 0;
  left: 0;
  height: 45px;
  background-color: #EBEBEB;
  padding: 2px;
  border-bottom: 3px solid #bbb;
  margin-bottom: 10px; }

header #title {
  float: left; }

header #title .header-icon {
  padding-left: 5px; }

header #title .header-text {
  padding-left: 5px; }

header #player-info {
  padding-top: 20px;
  padding-right: 5px;
  float: right; }

header #player-info #name {
  font-size: .5em; }

footer {
  color: #ddd;
  width: 100%;
  height: 60px;
  position: absolute;
  padding: 5px;
  text-align: center;
  top: 820px;
  bottom: 0;
  left: 0;
  border-top: 2px solid #5a5a5a;
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #010e0f 0%, #010e0f 70%, #222e30 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(0%, #010e0f), color-stop(70%, #010e0f), color-stop(100%, #222e30));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #010e0f 0%, #010e0f 70%, #222e30 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4c4c4c 0%, #010e0f 0%, #010e0f 70%, #222e30 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4c4c4c 0%, #010e0f 0%, #010e0f 70%, #222e30 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4c4c4c 0%, #010e0f 0%, #010e0f 70%, #222e30 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#222e30',GradientType=0 );
  /* IE6-9 */ }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-left: 20px; }

#main {
  margin-top: 10px;
  width: 100%;
  margin-right: auto;
  min-width: 1325px; }

#cardarea {
  height: 450px;
  margin: 10px; }

#userarea {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 100%; }

#signup {
  padding: 10px; }

#game-header {
  font-family: 'Oxygen',Arial, sans-serif;
  font-size: 3em;
  height: 35px;
  margin-bottom: 10px; }

#area-left {
  float: left;
  background-color: #fff;
  width: 800px;
  height: 620px;
  padding: 5px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

#area-right {
  width: 550px;
  /*border-left: 1px solid #999; */
  float: left;
  padding: 5px; }

#message-area, #button-area {
  margin: 4px;
  padding: 3px;
  height: 100px; }

#message-area {
  border: 1px solid #eee;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: .8em; }

#area-debug {
  clear: both;
  border: 2px solid #faa;
  background-color: #fdd;
  padding: 4px;
  margin: 4px;
  width: 400px;
  height: 200px; }

#profile-box {
  margin: 10px;
  padding: 10px;
  border: 1px solid #C2BBB4;
  width: 400px;
  background-color: white; }

#playing-area {
  width: 100%;
  height: 285px;
  clear: both; }

#blackcard {
  border: 1px solid #cccccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  width: 230px;
  height: 240px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
  float: left; }

#playing-area #buttons {
  width: 100%;
  clear: both; }

#playing-area #buttons #pick-card {
  margin-left: 276px; }

#played-cards {
  float: left;
  height: 240px;
  width: 1010px; }

#played-cards li {
  float: left; }

#whitecard-area {
  height: 170px; }

#card-czar-overlay {
  height: 170px;
  width: 1300px;
  top: 342px;
  z-index: 1000;
  position: absolute;
  opacity: .8;
  background-color: #d6d3d0;
  display: none; }

#card-czar-overlay-message {
  top: 60px;
  position: relative;
  height: 100px;
  width: 1300px;
  font-size: 2.8em;
  color: #000;
  text-align: center; }

.whitecard {
  border: 1px solid #cccccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  width: 150px;
  height: 160px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  font-size: 1em;
  margin: 5px;
  display: inline;
  float: left;
  -webkit-box-shadow: 4px 4px 26px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 26px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 26px -6px rgba(0, 0, 0, 0.75); }

.whitecard-sm {
  width: 100px;
  height: 110px;
  font-size: .85em; }

.selected {
  border: 2px solid #3593e6; }

#cards-listing {
  width: 1000px;
  height: 700px;
  overflow-y: scroll;
  margin: 10px;
  padding: 5px;
  background-color: #fff; }

#userlist {
  background-color: #fff;
  width: 20%;
  height: 300px;
  overflow-y: scroll;
  border-right: 1px solid #555;
  float: left; }

#userlist ul {
  margin: 0; }

#userlist li {
  border-bottom: 1px solid #eee; }

#userlist .user {
  height: 40px;
  padding: 3px;
  clear: both; }

#userlist .user:hover {
  background-color: #3593e6; }

#userlist .user .userphoto {
  float: left;
  height: 32px;
  width: 32px; }

#userlist .user .faded {
  opacity: .3; }

#userlist .user .usertext {
  font-size: .9em;
  float: left;
  padding-left: 4px;
  padding-bottom: 0;
  width: 210px; }

#userlist .user .usertext .user-points {
  padding-left: 6px;
  font-size: .85em;
  color: #18B52D;
  float: left;
  width: 100px; }

#userlist .user .usertext .username {
  padding-left: 3px;
  float: left;
  width: 120px; }

#userlist .user .usertext .extra-info {
  float: right;
  width: 60px;
  color: #777;
  text-align: right; }

#userlist .user .usertext .card-czar {
  float: right;
  width: 60px;
  color: #081569;
  text-align: right; }

#chatbox {
  background-color: #fff;
  float: right;
  height: 300px;
  width: 80%; }

#chatbox #messages {
  padding: 3px;
  height: 271px;
  overflow-y: scroll;
  color: #000; }

#chatbox .message {
  padding: 3px; }

#chatbox #messages .player-status {
  font-style: italic;
  color: #444; }

#chatbox #messages .winner-message {
  color: #15ad6e;
  font-weight: bold; }

#chatbox .message .username {
  padding-right: 6px;
  font-weight: bold;
  color: #081569; }

#chatbox #chatbox-entry {
  height: 25px;
  border-top: 1px solid #aaa;
  padding: 3px; }

#chatbox #chatbox-input, #chatbox #chatbox-submit {
  height: 23px; }

#chatbox #chatbox-input {
  border: 1px solid #ccc;
  width: 95%;
  float: left;
  padding: 2px; }

#chatbox #chatbox-submit {
  margin: 0;
  width: 5%;
  float: left;
  font-size: .9em; }

.server-message {
  font-weight: bold;
  color: #d00; }

.message-error {
  color: #d00;
  font-style: italic; }

.login-box {
  background-color: #fff; }

.button-area-section {
  margin: 3px;
  padding: 10px;
  width: 240px;
  text-align: center;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

/*
.button-build {
	padding: 3px;
	margin: 3px;
	background-color: #aaa;
	@include box1(4px);
}

.button-build:hover {
	background-color: #444;
	color: #aaa;
}

*/
.btn-build {
  color: #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#45484d), to(#333333));
  background-image: -webkit-linear-gradient(top, #45484d 0%, #333333 100%);
  background-image: -moz-linear-gradient(top, #45484d 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #45484d 0%, #333333 100%);
  background-repeat: repeat-x;
  border-color: #6f6f6f;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  margin: 5px; }

.btn-build.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-build:hover,
.btn-build:focus {
  color: #fff;
  background-color: #333333;
  background-position: 0 -15px; }

.btn-build:active,
.btn-build.active {
  background-color: #333333;
  border-color: #222; }

/* Form styles */
#signup #message, #addcard {
  width: 500px; }

#signup label, #signup input, #addcard label, #addcard input {
  /* in order to define widths */
  display: inline-block; }

#signup label, #addcard label {
  width: 100px;
  /* positions the label text beside the input */
  text-align: right; }

#signup label + input, #addcard label + input, #addcard .inputs,
#addcard label + select, #addcard label + textarea {
  width: 200px;
  /* large margin-right to force the next element to the new-line
     and margin-left to create a gutter between the label and input */
  margin: 4px 10px 4px 10px; }

#addcard label + input, #addcard .inputs,
#addcard label + select, #addcard label + textarea {
  width: 300px; }

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
#signup input#submit, #addcard input#submit {
  margin: 20px 0 0 160px; }

.radio-label {
  padding-left: 15px;
  padding-right: 4px; }

.card_text-blackcard {
  background-color: #000;
  color: #fff; }

.card_text-whitecard {
  background-color: #fff;
  color: #000; }

#addcard #message {
  margin: 10px; }

.form-input {
  margin: 5px 0; }
