
extends layout

block content
	div#content 

	div#main
		div#cardarea
			div#playing-area
				div#blackcard 
					span#blackcard-text
				div#played-cards
					ul
				div#buttons
					input(type='submit', id='newblackcard')
			div#whitecards
				ul
		div#userarea
			div#userlist
				ul							
			div#chatbox
				div#messages
				div#chatbox-entry
					span 
						input(id='chatbox-input',type='text',value='Blah Blah Blah',name='entry') 	
						input(type='submit', value='Submit', id='chatbox-submit')

	input(type='hidden', id='gamesession', value='53ac67251f55d70e969cda55')					
block append scripts
	script(src="js/config.js")
	script(src="js/data.js")                             