extends ../layout

block content

    div#addcard


        form(id='addcard-form')
            div.form-input
                label(for='cardtype') Card Type:
                span.inputs
                   span.radio-label Black
                   input(type="radio", id='radio-black', name="card_type", value="black", checked)
                   span.radio-label White
                   input(type="radio", id='radio-white', name="card_type", value="white")
                  
            div.form-input
                label(for='cardtext') Text:
                textarea(name='card_text', rows=4, columns=50, id='card_text', class='card_text-blackcard' )
            div.form-input
                label(for='username') Decks: 
            
                select(id='card_category', name='card_category')
            div.form-input
                label(for='nsfw') NSFW:
                span.inputs
                    span.radio-label No
                    input(type="radio", id='radio-nsfw', name="nsfw", value="false", checked)
                    span.radio-label Yes
                    input(type="radio", id='radio-nsfw', name="nsfw", value="true")               
            div.form-input
                label(for='active') Active:
                span.inputs
                    span.radio-label No
                    input(type="radio", id='radio-active', name="active", value="false")
                    span.radio-label Yes
                    input(type="radio", id='radio-active', name="active", value="true", checked)                                    
            div.form-input
                input(type='submit', value='Add Card', id='submit')
            div.form-input
                input(type='hidden', value="#{last_card_type}" id='last-card-type')
                input(type='hidden', value="#{cardId}" id='cardId')
        div(id='message' class="#{msg_class}") #{message}

        div(style='margin: 10px 0 5px 50px;')
            a(href='/cards/view/black') View black cards
        div(style='margin: 10px 0 5px 50px;')
            a(href='/cards/view/white') View white cards


block append scripts
    script(src="/js/addcards.js")  
    script(src="/js/app.js")