extends ../layout

block content

	div(id='cards-listing', class='card-pairs')
		each pair, i in pairs
			p#card-pair
				div.blackcard
					span.blackcard-text #{pair.blackcard.text}
				div(class='whitecard whitecard-lg')
					span.whitecard-text #{pair.whitecard.text}